/*
 * Backgrounds
 */
.bg-darkergreen {
  background-color: $green--darker;
}

.bg-darkgreen {
  background-color: $green--dark;
}

.bg-green {
  background-color: $green;
}

.bg-lightgreen {
  background-color: $green--light;
}

.bg-lightergreen {
  background-color: $green--lighter;
}

.bg-turquoise {
  background-color: $turquoise;
}

.bg-lightturquoise {
  background-color: $turquoise--light;
}

.bg-darkerblue {
  background-color: $blue--darker;
}

.bg-darkblue {
  background-color: $blue--dark;
}

.bg-blue {
  background-color: $blue;
}

.bg-lightblue {
  background-color: $blue--light;
}

.bg-gray {
  background-color: $gray;
}

.bg-lightgray {
  background-color: $gray--light;
}

.bg-white {
  background-color: $white;
}

.bg-green-gradient {
  background: $gradient--green;
}

.bg-blue-gradient {
  background: $gradient--blue;
}

.bg-lightblue-gradient {
  background: $gradient--lightblue;
}

/*
 * Font Colors
 */
.color-darkergreen {
  color: $green--darker;
}

.color-darkgreen {
  color: $green--dark;
}

.color-green {
  color: $green;
}

.color-lightgreen {
  color: $green--light;
}

.color-lightergreen {
  color: $green--lighter;
}

.color-turquoise {
  color: $turquoise;
}

.color-lightturquoise {
  color: $turquoise--light;
}

.color-darkerblue {
  color: $blue--darker;
}

.color-darkblue {
  color: $blue--dark;
}

.color-blue {
  color: $blue;
}

.color-lightblue {
  color: $blue--light;
}

.color-gray {
  color: $gray;
}

.color-lightgray {
  color: $gray--light;
}

.color-white {
  color: $white;
}
