*,
*:before,
*:after {
  font-family: $font;
}

h1 {
  font-size: 56px;
  line-height: 0.94;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin: 10px 0;
  @media only screen and (min-width: $large) {
    font-size: 80px;
  }
}

h2 {
  font-size: 45px;
  color: $green--dark;
  font-weight: $light;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px;
  @media only screen and (min-width: $large) {
    font-size: 65px;
  }
}

h3 {
  font-size: 21px;
  line-height: 1.2;
  color: $blue;
  font-weight: normal;
  margin: 0 0 17px;
  @media only screen and (min-width: $large) {
    font-size: 30px;
  }
}

h4 {
  font-size: 16px;
  line-height: 1.75;
  font-weight: $heavy;
  color: $green--dark;
  text-transform: uppercase;
}

a {
  font-weight: $bold;
  font-style: italic;
  color: inherit;
  text-decoration: none;
  color: $blue;
}

p {
  font-size: 17px;
  line-height: 1.6;
  color: $gray;
}

li {
  color: $gray;
  font-size: 16px;
}
