.hidden-on-mobile {
  display: none;
  visibility: hidden;
  @media only screen and (min-width: $large) {
    display: block;
    visibility: visible;
  }
  &.visible-on-tablet {
    @media only screen and (min-width: $medium) {
      display: block;
      visibility: visible;
    }
  }
}

.hidden-on-desktop {
  @media only screen and (min-width: $large) {
    display: none;
    visibility: hidden;
  }
}