/**
 * Greens
 */
$green--darker: #1d906f;
$green--dark: #00b38d;
$green: #58bd8e;
$green--light: #79c48e;
$green--lighter: #83d89b; 

/**
* Turquoises
*/
$turquoise: #52dbb4;
$turquoise--light: #6dcecb;

/**
 * Blues
 */
$blue--darker: #294877;
$blue--dark: #2896b4;
$blue: #3f92be;
$blue--light: #62bee5;
$blue--lighter: #b5e8f6;

/*
 * Reds
 */
$red: #bd6658;

/**
 * Grays
 */
$black: #000000;
$gray: #717171;
$gray--light: #f6f6f6;
$white: #ffffff;

/**
 * Gradients
 */
$gradient--green: linear-gradient(to right, $green--light, $green--dark);
$gradient--blue: linear-gradient(to right, $blue--darker, $blue);
$gradient--lightblue: linear-gradient(to right, $blue--light, $blue--dark);
$radial-gradient--green: radial-gradient(circle at bottom, $green--light, $green--dark);
