.card {
  width: 100%;
  background: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 15px 0 rgba(black, 0.08);
}

.card__title {
  font-size: 16px;
  line-height: 1.75;
  font-weight: $heavy;
  color: $green--dark;
  margin: 0;
  text-transform: uppercase;
}

.card--collapsible {
  width: 100%;
  background: white;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 8px 0 rgba(black, 0.08);
}