.button {
  border: 2px solid $green;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: $bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  min-height: 44px;
  border-radius: 44px;
  font-style: normal;
  text-align: center;
  transition: 0.4s;
  &:hover {
    background: transparent;
    color: $green;
  }
}

.button--white {
  background-color: $white;
  border-color: $white;
  color: $gray;
  &:hover {
    color: $white;
  }
}

.button--blue {
  background-color: $blue--darker;
  border-color: $blue--darker;
  &:hover {
    color: $blue--darker;
  }
}

.button--green-text {
  color: $green;
  border-color: $white;
  &:hover {
    color: $white;
  }
}

.button--darkgreen-text {
  color: $green--dark;
  border-color: $white;
  &:hover {
    color: $white;
  }
}
