.card {
  width: 100%;
  background: $white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 15px 0 rgba($black, 0.08);
}

.card__title {
  font-size: 16px;
  line-height: 1.35;
  font-weight: $heavy;
  color: $green--dark;
  margin: 0;
  text-transform: uppercase;
}

.card__profile-image {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  object-fit: cover;
  border: 3px solid $gray--light;
  @media only screen and (min-width: $xlarge) {
    width: 170px;
    height: 170px;
    border-radius: 170px;
  }
}

.card__icon {
  width: 48px;
  flex-shrink: 0;
}

.card__divider {
  display: block;
  width: 3px;
  background: $green;
  margin: 0 15px;
  align-self: stretch;
  flex-shrink: 0;
  @media only screen and (min-width: $large) {
    width: 50px;
    height: 3px;
    margin: 30px 0 15px;
  }
}

.card__copy {
  margin: 0;
  line-height: 1.4;
  color: $gray;
  font-style: normal;
  font-weight: normal;
}

.card__copy--large {
  font-size: 20px;
}

.card__statistic {
  width: 150px;
  margin-left: 15px;
  align-self: center;
  @media only screen and (min-width: $medium) {
    margin-left: 30px;
  }
}

.card--flex {
  display: flex;
  align-items: flex-start;
  @media only screen and (min-width: $large) {
    display: block;
  }
  &.card--flex-on-desktop {
    @media only screen and (min-width: $large) {
      display: flex;
      .card__divider {
        @media only screen and (min-width: $large) {
          width: 3px;
          margin: 0 30px;
          height: initial;
        }
      }
      .card__statistic {
        margin-left: auto;
      }
    }
  }
}

.card--collapsible {
  width: 100%;
  background: $white;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 8px 0 rgba($black, 0.08);
}

.cards--condensed-on-mobile {
  @media only screen and (max-width: $large) {
    box-shadow: 0 0 15px 0 rgba($black, 0.08);
    .card {
      box-shadow: none;
      border-radius: 0;
      &:first-of-type {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

.cards--flex-on-desktop {
  @media only screen and (min-width: $large) {
    display: flex;
    justify-content: space-between;
    .card {
      margin-right: 25px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.cards--profile-on-desktop {
  @media only screen and (min-width: $large) {
    .card {
      background: none;
      box-shadow: none;
      padding: 0;
    }
    .card__divider {
      display: none;
    }
  }
}