.elliptical-section {
  position: relative;
  padding-top: 50px;
  @media only screen and (min-width: $large) {
    padding-top: 70px;
  }
}

.elliptical-section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 200px);
  clip-path: ellipse(270% 50%);
  background: $gray--light;
  @media only screen and (min-width: $large) {
    clip-path: ellipse(190% 50%);
  }
}