.feature-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.feature-list__item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 17px;
  &:before {
    content: url('~/assets/images/icons/checkmark-white.png');
    position: absolute;
    top: 2px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $green;
  }
}

.feature-list__item--blue {
  &:before {
    background: $blue--dark;
  }
}

.feature-list--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    width: 50%;
  }
}
