.hero {
  height: 550px;
  position: relative;
  @media only screen and (min-width: $large) {
    height: 700px;
  }
}

.hero--large {
  height: 800px;
  .hero__mask {
    clip-path: ellipse(180% 800px);
  }
  @media only screen and (min-width: $large) {
    clip-path: ellipse(130% 700px);
  }
}

.hero__mask {
  position: absolute;
  top: -100%;
  height: 200%;
  width: 100%;
  clip-path: ellipse(180% 550px);
  background: $gradient--green;
  @media only screen and (min-width: $large) {
    clip-path: ellipse(130% 700px);
  }
}

.hero__mask--blue {
  background: $gradient--blue;
}

.hero__mask--lightblue {
  background: $gradient--lightblue;
}

.hero__image {
  opacity: 0.15;
  object-fit: cover;
  position: absolute;
  top: 50%;
  height: 50%;
  width: 100%;
}

.hero__wrapper {
  height: calc(50% - 103px); // header height
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 30px;
  @media only screen and (min-width: $large) {
    left: calc((100vw - 962px) / 2);
  }
  @media only screen and (min-width: $xlarge) {
    left: calc((100vw - 1170px) / 2);
  }
}

.hero__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  @media only screen and (min-width: $large) {
    margin-top: -150px;
  }
}

.hero__description {
  font-size: 17px;
  text-align: center;
  color: $white;
  max-width: 640px;
  margin: 0 auto 15px;
  line-height: 1.4;
  @media only screen and (min-width: $large) {
    font-size: 23px;
  }
}

.hero__description--large {
  font-size: 25px;
  @media only screen and (min-width: $large) {
    font-size: 30px;
  }
}
