.statistic__number {
  font-size: 40px;
  color: $green;
  font-weight: $light;
  line-height: 1;
  text-align: center;
  margin: 0;
}

.statistic__label {
  font-size: 14px;
  text-align: center;
  margin: 0;
  line-height: 1.2;
}