.step {
  @media only screen and (min-width: $medium) {
    display: flex;
    align-items: flex-start;
  }
}
.step__number {
  font-size: 150px;
  line-height: 0.8;
  margin: 0;
  font-weight: $thin;
  text-align: center;
}

.step__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  flex: 1;
  @media only screen and (min-width: $medium) {
    margin: 0 50px;
  }
}

.step__content {
  @media only screen and (min-width: $medium) {
    width: 60%;
    flex-shrink: 0;
  }
  @media only screen and (min-width: $xlarge) {
    width: 720px;
  }
  @media only screen and (min-width: $xlarge) {
    width: 800px;
  }
}