.team-members {
  @media only screen and (min-width: $medium) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.team-members__member-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  @media only screen and (min-width: $medium) {
    width: calc(50% - 25px);
    &:nth-child(odd) {
      margin-right: 25px;
    }
  }
}

.team-members__profile-image {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  object-fit: cover;
}

.team-members__member-content {
  margin-left: 25px;
}

.team-members__member-name {
  text-transform: uppercase;
  color: $green;
  font-size: 16px;
  @media only screen and (min-width: $medium) {
    font-size: 18px;
  }
}

.team-members__member-title {
  font-style: italic;
  font-size: 14px;
  @media only screen and (min-width: $medium) {
    font-size: 16px;
  }
}

.team-members__member-copy {
  font-size: 17px;
  font-size: 14px;
  @media only screen and (min-width: $medium) {
    font-size: 16px;
  }
}
