<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="kauLVkNadlUrHYW8YtFTExFJvlAl8EZqh-a2ucVb1qk" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ page.meta_title }}</title>
    <meta name="description" content="{{ page.meta_description }}">
    <link rel="stylesheet" href="/assets/css/app.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92475407-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-92475407-2');
    </script>
  </head>
  <body>
    <div id="app">
      <div class="page {{ page.title }}">
        
        <main>
          {{ content }}
        </main>
        
      </div>
    </div>
    <script src="{{ site.baseurl }}/assets/bundle.js"></script>
  </body>
</html>
